<form action='/names' method='post'>
  <h2>Name your warriors!</h2>
  Warrior 1:<input type='text' name='player_1' /></br></br>
  Warrior 2:<input type='text' name='player_2' /></br>
</br>
  <input type='submit' value='Submit!' />
</form>
