<h2>Let's Battle!</h2>

<form action='/enter_name' method='get'>
  <input type='submit' value='Single Player'>
</form>

<form action='/enter_names' method='get'>
  <input type='submit' value='Multiplayer'>
</form>
