<div><%= @game.player_one.name %>: <%= @game.player_one.current_hp %> HP</div>
<div><%= @game.player_two.name %>: <%= @game.player_two.current_hp %> HP</div>

<form action='/attack' method='get'>
  <input type='submit' value='Play!' />
</form>
