<div style="text-align: center; font-size: 50px">
  <div style="font-family:verdana; color: green"><%= @player1 %></div>
    <h1 style="color: red; font-family: arial; font-size: 30px">vs</h1>
    <div style="font-family:Comic Sans MS; color:blue"> <%= @player2 %> HP: 20</div>
</div>

<form action="/attack">
  <input type="submit" value="Attack!">
</form>
